/* Override some defaults */
html, body {
  background-color: #fff;
}
.navbar {
  margin-bottom: 0;
}


.contentContainer{
  margin-top: 50px;
  border-top: 1px solid #dedede;
  padding-top: 20px;
  min-height: 500px;
contentContainer .postList{
    a{
      font-size: 20px;
      color: #333;
    }
    h2{
      color: #fff;
    }
  }
  
}

.sidebar{
  padding-top: 40px;
}

.sidebar .wrapper{
  padding: 0px 15px;
  text-align: right;
}

.sidebar .wrapper a{
  color: #333;
  font-size: 20px;
}

.sidebar ul li {
  float: right;
}

p{
  font-size: 15px;
  color: #666;
  line-height: 22px;
  margin: 10px 0px;
}
h1,h2,h3{
  color: #666;
}

h1{
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 40px;
    border-left: 4px solid #999;
    padding-left: 15px;
    
}

hr{
  margin: 50px 0px;
}